<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="permissions" label="Permissions" description="Permissions">
	
		<!-- ACL PERMISSIONS -->
		<field
			name="rules"
			type="rules"
			label="Permissions"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_ask"
			section="component" 
		/>
		
	</fieldset>
	
	<!-- Configuration -->
	<fieldset name="configuration" label="Configuration" description="Configuration Options">
		
		<!--ORDERING -->
		<field name="list_ordering" 
			type="list"
			label="ORDER_BY"
			class="inputbox"
			default="submitted"
		>
			<option value="submitted">ORDER_SUBMITTED</option>
			<option value="votes">ORDER_VOTES</option>
			<option value="score">ORDER_SCORE</option>
			<option value="impressions">ORDER_VIEWS</option>
			<option value="answerscount">ORDER_ANSWERS</option>
		</field>
				
		<!-- ORDERING DIRECTION -->
		<field name="list_direction" 
			type="list"
			label="ORDER_DIRECTION"
			class="inputbox"
			default="DESC"
		>
			<option value="DESC">ORDER_DESC</option>
			<option value="ASC">ORDER_ASC</option>
		</field>
				
		<!-- DISPLAY STATS -->
		<field name="display_stats"
			type="list"
			label="DISPLAY_STATS"
			class="inputbox"
			default="1"
		>
			<option value="1">OPT_YES</option>
			<option value="0">OPT_NO</option>
		</field>
				
		<!-- MOVE :: DISPLAY FILTERS -->
		<field name="display_filters"
			type="list"
			label="DISPLAY_FILTERS"
			class="inputbox"
			default="1"
		>
			<option value="1">OPT_YES</option>
			<option value="0">OPT_NO</option>
		</field>
				
		<!-- DISPLAY GRAVATARS -->
		<field name="display_gravatars"
			type="list"
			label="DISPLAY_GRAVATARS"
			class="inputbox"
			default="1"
		>
			<option value="1">OPT_YES</option>
			<option value="0">OPT_NO</option>
		</field>
	
		<!-- DEFAULT QUESTION STATE -->
		<field
			name="defaultQuestionState"
			label="CONFIG_DEFAULTQUESTIONSTATE"
			type="list"
			class="inputbox"
			default="1"
		>
			<option value="1">OPT_PUBLISHED</option>
			<option value="0">OPT_UNPUBLISHED</option>
		</field>
		
		<!-- DEFAULT ANSWER STATE -->
		<field
			name="defaultAnswerState"
			label="CONFIG_DEFAULTANSWERSTATE"
			type="list"
			class="inputbox"
			default="1"
		>
			<option value="1">OPT_PUBLISHED</option>
			<option value="0">OPT_UNPUBLISHED</option>
		</field>
		
		<!-- USE OF COMPONENT'S DEFAULT CSS -->
		<field
			name="useDefaultCss"
			label="CONFIG_USEDEFAULTCSS"
			type="list"
			class="inputbox"
			default="1"
		>
			<option value="1">OPT_YES</option>
			<option value="0">OPT_NO</option>
		</field>
		
		<!-- USE OF COMPONENT'S DEFAULT CSS -->
		<field
			name="loglevel"
			label="CONFIG_LOGLEVEL"
			type="list"
			class="inputbox"
			default="1"
		>
			<option value="0">LOG_NOLOG</option>
			<option value="1">LOG_SEVERE</option>
			<option value="5">LOG_ERROR</option>
			<option value="7">LOG_WARNING</option>
			<option value="9">LOG_INFO</option>			
		</field>
		
	</fieldset>

</config>
